#mapContainer {
    display: flex;
    justify-content: space-between;
    height: 500px; /* Same height as map */
  }
  
  #map {
    height: 100%; /* Ensure the map takes the full height of the container */
    width: 70%; /* Adjust width of the map */
  }
  
  #markersTable {
    width: 100%; /* Adjust width of the table */
    margin-left: 10px;
    border-collapse: collapse;
    height: 100%; /* Ensure table takes full available height */
    display: table; /* Use default table display */
  }
  
  #markersTable th, #markersTable td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  #markersTable .selected {
    background-color: #add8e6; /* Highlight for selected row */
    font-weight: bold;
  }
  
  /* Scrollable tbody without affecting the header */
  #markersTableWrapper {
    display: inline-block;

    height: 100%;
    width: 28%;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    /* max-height: 450px;  */

  }

  #inputContainer {
    width: 28%;
    margin-left: 10px;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 8px;
}

#inputContainer label {
    display: block;
    margin-bottom: 5px;
}

#inputContainer input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
}

#inputContainer button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

#inputContainer button:hover {
    background-color: #45a049;
}

.leaflet-routing-alternatives-container {
    display: none;
}